<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Gfinancer", suffix: " · Phoenix Framework" %>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/css/bootstrap.min.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href={ Routes.page_path(@conn, :index) }>Gfinance</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={ Routes.receitas_path(@conn, :index) }>Receitas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href={ Routes.despesas_path(@conn, :index) }>Despesas</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <%= @inner_content %>
    <script src={Routes.static_path(@conn, "/assets/js/bootstrap.min.js")}></script>
  </body>
</html>
