<h1 class="mt-5 mb-5">Criar Despesas</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.despesas_path(@conn, :create)) %>

<a href={ Routes.despesas_path(@conn, :index) } class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">Voltar</a>