<h1 class="mt-5 mb-5">Criar Receitas</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.receitas_path(@conn, :create)) %>

<a href={ Routes.receitas_path(@conn, :index) } class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">Voltar</a>
